@model List<ContatoModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

<style>
    body{
        background-color: rgba(0,0,0,.9);
    }
</style>

<div class="container text-light">
    
    <a class="btn btn-success btn-block" style="margin-bottom: 20px" asp-controller="Contato" asp-action="Criar"> Adicionar Contatos </a>
    <h1 class="display-4 text-light text-center"> Lista de Contatos</h1>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Email</th>
          <th scope="col">Senha</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            
                    
              @if(Model != null && Model.Any())
                {


                    foreach (ContatoModel contato in Model)
                    {
                          <tr>
                              <th scope="row"> @contato.Id </th>
                              <td>@contato.Nome </td>
                              <td>@contato.Email</td>
                              <td>@contato.Senha</td>
                              <td>

                              <div class="btn-group" role="group">
                                  <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirm">Apagar</a>
                                  <a role="button" class="btn btn-primary" asp-route-id="@contato.Id"  asp-controller="Contato" asp-action="Editar">Editar</a>
                              </div>
                              </td>
                         </tr>
                    }
                     
                }


      </tbody>
    </table>

</div>
